<launch>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find turtlebot_spawn)/world/rrlab"/>
        <arg name="gui" value="true"/>
    </include>

    <node
        pkg="turtlebot_spawn"
        name="walker"
        type="walker"
        output ="screen"
    />

</launch> 
